@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

:root {
    --base: #FBBF24;
    --back: #FDE68A;
    --top: #92400E;
}

body {
    margin: 0;
    font-family: 'Kalam', cursive;
    color:var(--top);
    background-color: var(--back);
}

.nav{
    background-color: var(--base);
    width: 100%;
    padding: 1rem;
    margin:auto;
    top: 0;
}

.textarea {
    border: 2px solid var(--black);
    box-sizing: border-box;
    display: block;
    width: 400px;
    height: 100px;
    margin:auto;
    margin-top: 2rem;
    font-family: 'Kalam', cursive;
    font-size: large;

}

.tbutton {
    width: 100px;
    margin:auto;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
    text-align: center;
    color:var(--top);
    font-family: 'Kalam', cursive;
    background-color:var(--base) ;
}

.footer {
    position: fixed;
    margin:auto;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--base);
    text-align: center;
}

